.imgMag{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.imgMag__img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

.imgMag__lens{
  position: absolute;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.14);
  box-shadow:
    0 18px 60px rgba(0,0,0,0.55),
    0 0 0 1px rgba(0,0,0,0.25) inset;

  background-color: #000; /* caso a imagem demore 1 frame */
  pointer-events: none;

  /* Fade + “pop” suave */
  opacity: 0;
  transform: scale(0.98);
  transition: opacity .15s ease, transform .15s ease;
}

.imgMag__lens.isOn{
  opacity: 1;
  transform: scale(1);
}

.imgMag__lens.isOff{
  opacity: 0;
}
